<!--new pages should be based on this page-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/dashboardLayout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spark Client Results</title>
</head>
<body>
<div layout:fragment="mainContent">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Result</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-bar-chart-o"></i> <a href="/spark">Spark Manager</a>
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Results
                </li>
            </ol>
        </div>
    </div>

    <!--we want this to be singleClientInstruction-->
    <div th:each="sparkInstruction : ${singleClientSparkInstructions}">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Message: <span th:text="${sparkInstruction.singleClientSparkInstruction.sparkType}"></span></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped" style="table-layout: fixed; word-wrap: break-word;" >
                        <thead>
                        <tr>
                            <th class="col-md-2">Instruction Type</th>
                            <th class="col-md-2">Directory</th>
                            <th class="col-md-10">Response</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${(sparkInstruction.getSingleClientSparkInstruction().sparkType)}"></td>
                            <td th:text="${(sparkInstruction.getSingleClientSparkInstruction().fileDirectory)}"></td>
                            <td th:text="${(sparkInstruction.response)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>