<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/dashboardLayout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Client</title>
</head>
<body>
<div layout:fragment="mainContent">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Client Details</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-bar-chart-o"></i><a href="/clients">Clients</a>
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> View Client
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!--main area-->
    <div class="row">
        <h1>HELLO WORKING</h1>
        <h4> ${client.getClientID()}</h4>
        <h5 th:text="${client.getIpAddress()}"></h5>
    </div>
</div>
</body>
</html>